<%= form_for [commentable, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", place_holder: "Add a comment:" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<%end%>