<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, please click this link <a href = "http://192.168.3.3:3000/users/sign_up?">Accept invitation</a> Account id = <%= @invitation.account_id %></h1>
   
  </body>
</html>