<div class = "container">
  <div class="row">
    <div class="col">
        <h2><%=team.team_name%></h2>
          <p class="title"></p>
          <%= link_to 'Show Teams',team_path(team),class: "btn btn-primary"%>
    </div>
  </div>
</div> 